<!doctype html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spoti-Face</title>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/main.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  
  <body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="text-center">
				<img class="logo" src="images/logo_low.png" style="width: 20%;"/>
				<img class="logo" src="images/logo2_low.png" style="width: 20%; display: none;"/>
			</div>
		</div>
	</div>
	
	<div id="alertDiv" class="alert alert-danger" role="alert" style="display:none;"></div>
	
	<div class="text-center" style="margin-top: 5%">
	    <a class="btn btn-primary btn-lg" href="/auth/facebook">Login with Facebook</a>
	</div>


	<div id="footer" class="footer navbar-fixed-bottom">
		<div class="text-center">
			<p>
				SpotiFace - by Martin Grisard
			</p>
		</div>
	</div>
  </body>
</html>

