<!doctype html>
<html>
  <head>
    <title>SpotiFace</title>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/animatescroll.js"></script>
        <script src="javascripts/spotify.js"></script>
  </head>
  
  <body>
  
  <h1 class="text-center">Hello World</h1>
  
  <input id="searchInput" type="text"> </input>

  </body>
</html>

